body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    height: 60px;
    width: 60px;
}

.button:hover {
    background-color: #0d6efd !important;
    color: #fff !important;
}

.memo {
    font-family: "Dancing Script", cursive;
    color: #e3e4e6;
}

.screen:focus {
    outline: none;
}

.screen::placeholder {
    color: #fff;
}